<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estadisticas.css">
    <title>Título de tu página</title>
</head>
<body>

<h1>Título de tu página</h1>

<div class="grid-container">
    <div class="grid-item">
        <div class="grid-title">
            <h2>Estadistica1</h2>
        </div>

        <div class="grid-row">
            <div class="grid-item-content">
                <img src="./img/Group 4.png" alt="Descripción de la imagen xd">
            </div>

            <div class="grid-item-content">
                <img src="./img/TuOtraImagen.png" alt="Descripción de la otra imagen">
            </div>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-title">
            <h2>Estadistica2</h2>
        </div>

        <div class="grid-row">
            <div class="grid-item-content">
                <img src="./img/TuImagen3.png" alt="Descripción de la imagen 3">
            </div>

            <div class="grid-item-content">
                <img src="./img/TuImagen4.png" alt="Descripción de la imagen 4">
            </div>
        </div>
    </div>
</div>

</body>
</html>
